.card__body--icon-container {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
}

.card__body--icon {
  padding: var(--padding);
  width: 95px;
}

.card__body--info-container {
  padding: var(--padding);
}

.card__body--stats-container {
  display: flex;
  justify-content: space-between;
}

.card__body-container {
  border-bottom: 1px solid #ccc;
  padding: var(--padding) 0;
}

.card__body-container:last-child {
  border-bottom: none;
}

.card__body--type-container {
  display: flex;
  justify-content: center;
}
