<shared-card [info]="info">

  <div *ngIf="info" class="card__body--container" >
    <div class="card__body--icon-container">
      <img class="card__body--icon" src="{{info.image}}">
    </div>
    <div class="card__body--info-container">
      <div class="card__body-container card__body--stats-container">
        <shared-stat
          *ngFor="let statItem of info.stats"
          description="{{statItem.stat.name}}"
          value="{{statItem.base_stat}}"
        ></shared-stat>
      </div>
      <div class="card__body-container card__body--type-container">
          <shared-type [type]="type" *ngFor="let type of info.types"></shared-type>
      </div>
      <div class="card__body-container card__body--abilities-container">
          <shared-abilities [abilities]="info.abilities"></shared-abilities>
      </div>
    </div>
  </div>

</shared-card>

