.card {
  background-color: #ffdc00;
  border-radius: 8px;
  padding: var(--padding);
  width: fit-content;
}

.card__content {
  background-color: var(--background-color);
  border-radius: 3px;
  border: 1px solid #ff851b;
  height: 340px;
  padding: var(--half-padding);
  width: 260px;
}

.card__header {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  justify-content: space-between;
}

.card__header--group-left,
.card__header--group-right {
  display: inline-flex;
}

.card__header--title-center {
  text-transform: capitalize;
}

.card__header--group-right > div {
  margin-right: 2px;
}

.card__header--title-left {
  align-items: center;
  background-color: var(--background-color);
  border-bottom: 2px solid #555;
  border-radius: 6px;
  border: 1px solid #888;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  font-size: 0.7em;
  font-style: italic;
  font-weight: bold;
  justify-content: center;
  left: -12px;
  padding: 2px var(--half-padding);
  position: relative;
  text-transform: uppercase;
  top: -10px;
  width: 35px;
}

.card__header--stat-legend {
  font-size: 0.6em;
  text-transform: uppercase;
}

.card__header--icon {
  width: 22px;
}

.card__body {
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 300px;
  margin: var(--half-padding);
}
