<div class="card">

  <shared-preloader-card *ngIf="!info"></shared-preloader-card>

  <div *ngIf="info" class="card__content">

    <div class="card__header">

      <div class="card__header--group-left">
        <div class="card__header--title-left">
          {{info.id}}
        </div>
        <div class="card__header--title-center">
          {{info.name}}
        </div>
      </div>

      <div class="card__header--group-right">
        <div class="card__header--stat-legend">
          {{info.topText}}
        </div >
        <div class="card__header--stat-value">
          {{info.topValue}}
        </div>
        <div>
          <img *ngFor="let type of info.types" class="card__header--icon" alt="{{ type }}" title="{{ type }}" src="assets/pokemonTypes/{{type | lowercase}}.webp">
        </div>
      </div>
    </div>

    <div class="card__body">
        <div>
          <ng-content></ng-content>
        </div>
    </div>

  </div>
</div>
