.card-preloader__container {
  width: 100%;
  background-color: #eee;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}

.card-preloader__container img {
  width: 200px;
}
