<div class="card">
  <div class="card__content">

    <div class="card__header">

      <div class="card__header--group-left">
        <div class="card__header--title-left">
          25
        </div>
        <div class="card__header--title-center">
          pikachu
        </div>
      </div>

      <div class="card__header--group-right">
        <div class="card__header--stat-legend">
          hp
        </div >
        <div class="card__header--stat-value">
          70
        </div>
        <div>
          <img class="card__header--icon" src="assets/electric.svg">
        </div>
      </div>
    </div>

    <div class="card__body">
        <div>
          <ng-content></ng-content>
        </div>
    </div>

  </div>
</div>
