.page__title {
  padding: 1em;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #fff;
  transition-duration: 0.5s;
  z-index: 2;
}

.page__title--icon {
  width: 280px;
  transition-duration: 0.5s;
}
.page__title.small .page__title--icon {
  width: 120px;
  transition-duration: 0.5s;
}

.page__title--text {
  font-size: 1em;
  text-transform: capitalize;
  color: #0074d9;
  position: relative;
  top: -15px;
  transition-duration: 0.5s;
}
.page__title.small .page__title--text {
  margin-top: 3em;
  font-size: 0.4em;
  transition-duration: 0.5s;
}

@media (max-width: var(--mobile-breakpoint)) {
  .page__title--icon {
    width: 120px;
  }
  .page__title.small .page__title--icon {
    width: 60px;
    transition-duration: 0.5s;
  }

  .page__title--text {
    margin-top: 2em;
    font-size: 0.6em;
  }
  .page__title.small .page__title--text {
    display: none;
  }
}
