.type__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.type__icon img {
  width: 32px;
}

.type__desc {
  font-weight: bold;
  padding: 0 1em;
  text-transform: uppercase;
}
