.tp-wrapper {
  -webkit-perspective: 800px;
  perspective: 800px;
}

.tp-box {
  position: relative;
  width: 280px;
  height: 360px;
  padding: var(--padding);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: transform 1s;
  -ms-transform: transform 1s;
  transform: transform 1s;
}
.tp-box__side {
  position: absolute;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tp-box__front {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.tp-box__back {
  right: 10px;
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
