.card__body--icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}

.card__body--icon {
  width: 95px;
  padding: 12px 6px;
}

.card__body--info-container {
  padding: 12px;
}

.card__body--stats-container {
  display: flex;
  justify-content: space-between;
}

.card__body-container {
  padding: 12px 0;
  border-bottom: 1px solid #ccc;
}

.card__body-container:last-child {
  border-bottom: none;
}
