.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.list-item {
  color: inherit;
  display: block;
  margin-bottom: 24px;
  margin-right: 24px;
  text-decoration: none;
}

.list-item:last-child {
  margin-right: 0;
}

@media (max-width: 800px) {
  .list-container {
    justify-content: center;
  }
}
