:root {
  --mobile-breakpoint: 800px;
  --padding: 12px;
  --half-padding: 6px;
  --background-color: #ddd;
}

/* System Fonts as used by GitHub */
body,
h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin-top: 200px;
}

@media (max-width: 800px) {
  body {
    margin-top: 125px;
  }
}
